apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: f1-agent
servers: 1
agents: 0
image: rancher/k3s:v1.28.5-k3s1
ports:
  - port: 8000:8000
    nodeFilters:
      - loadbalancer
options:
  k3d:
    wait: true
    timeout: "120s"
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
